body{
    margin: 0; 
    background-color: cyan" 
}
#navbar{
    background-color: navy;
    width: auto;
    padding: 15px 0px ;
    text-align: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}
.clubs{
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
#images{
    width: 95%;
    height: 80%;  
}
#spans{
    padding-right: 12px;
    color: whitesmoke;
    font-size: large;
}
#header{
    font-weight: bolder;
    font-size: xx-large;
    font-family: cursive;
}
#text{
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: large;
    padding-top: 20px;               
    text-align: justify;
    background-color: goldenrod;
    box-sizing: border-box;

}